POSTGRES_DB=gram
POSTGRES_USER=gram_user
POSTGRES_PASSWORD=password
DB_NAME=gram
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/0
SECRET_KEY=django-insecure-k4%o17r%=u))j3kr_bbjqca(oddmmg7sra)+-z6**)!3^!*1)1